<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "Saha" %></title>
    
    <%= stylesheet_link_tag "saha", "bootstrap" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <%= link_to "Saha", "index.html", :class => "brand" %>
          <ul class="nav">
            <li class="Saha"><%= link_to "Home", "index.html" %></li>
            <li class="Logs"><%= link_to "Logs", "logs.html" %></li>
            <li class="Docs"><%= link_to "Docs", "documents.html" %></li>
            <li class="Slides"><%= link_to "Slides", "slides.html" %></li>            
            <li class="Refs"><%= link_to "References", "references.html" %></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>