---
title: Refs
nav_refs: active
---

<div class="page-header">
  <h1>Useful References </h1>
</div>

<div class="container">
  <ul>
    <li><%= link_to "A Reflectance Pulse Oximeter Design Using the
										 	MSP430OF149", "refs/Pulse_Reflectance_MSP.pdf" %></li>
    <li><%= link_to "A Novel Hybrid Reflectance Pulse Oximeter 
											Sensor with Improved Linearity and General 
											Applicability to Various Portions of the Body", "refs/Pulse_Reflectance.pdf" %></li>
    <li><%= link_to "Principles of Pulse Oximetry", "refs/Pulse_Reflectance1.pdf" %></li>
    <li><%= link_to "Dr.Chi", "refs/EECS-2012-147.pdf" %></li>
    <li><%= link_to "DESIGN OF A HEART RATE MONITOR", "refs/APD-2003-08.pdf" %></li>
  </ul>
 </div>

<div class="Images">
  <h2>Images</h2>
	<hr/>
  <ul>
  <li><%= link_to "Shoe", "http://www.wigglestatic.com/product-media/5360077912/nike-lunarhyperworkout-xt-plus-529951-009-ind.jpg?w=1200&h=1200&a=7" %></li>
  <li><%= link_to "Alarm Clock", "http://upload.wikimedia.org/wikipedia/commons/8/8b/2010-07-20_Black_windup_alarm_clock_face.jpg" %></li>
  <li><%= link_to "Stress Image", "http://sustainable-leaders.com/wp-content/uploads/2012/05/stick_figure_headache_1600_wht.png" %></li>
  <li><%= link_to "Heart", "http://aninspiredapproach.files.wordpress.com/2012/06/97089039.jpg" %></li> 
  </ul>
</div>


