---
title: Refs
nav_refs: active
---

<div class="page-header">
  <h1>Useful References </h1>
</div>

<div class="container">
  <ul>
    <li><%= link_to "A Reflectance Pulse Oximeter Design Using the
										 	MSP430OF149", "refs/Pulse_Reflectance_MSP.pdf" %></li>
    <li><%= link_to "A Novel Hybrid Reflectance Pulse Oximeter 
											Sensor with Improved Linearity and General 
											Applicability to Various Portions of the Body", "refs/Pulse_Reflectance.pdf" %></li>
    <li><%= link_to "Principles of Pulse Oximetry", "refs/Pulse_Reflectance1.pdf" %></li>
    <li><%= link_to "Dr.Chi", "refs/EECS-2012-147.pdf" %></li>
    <li><%= link_to "DESIGN OF A HEART RATE MONITOR", "refs/APD-2003-08.pdf" %></li>
  </ul>
</div>


